<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4058919141-21ru1nb40j8cd2rmbq9scll2lc4mkp1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4058919141-21ru1nb40j8cd2rmbq9scll2lc4mkp1f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4058919141-49v1ram97u02u6np5nq5b4fa7hl3n4pk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnIuRxIwDTUfQMvrYORSaf_0N2c_pu-Lw</string>
	<key>GCM_SENDER_ID</key>
	<string>4058919141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aleksandr-Serov.Baby-Sleep</string>
	<key>PROJECT_ID</key>
	<string>baby-sleep-66c34</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-sleep-66c34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4058919141:ios:6790a6029f36e06973e40c</string>
	<key>DATABASE_URL</key>
	<string>https://baby-sleep-66c34.firebaseio.com</string>
</dict>
</plist>